<Tasks>
	<Task>
		<BackgroundFilename>10M.mp4</BackgroundFilename>
		<Filename>2M.jpg</Filename>
		<FTPFilename>2M.jpg</FTPFilename>
		<BackgroundPORT>7777</BackgroundPORT>
		<PORT>7777</PORT>
		<WaitTime>3</WaitTime>
		<MessageSize>large</MessageSize>
		<ServerIP>128.125.121.204</ServerIP>
		<rmem_min>null</rmem_min>
		<rmem_default>null</rmem_default>
		<rmem_max>null</rmem_max>
		<ECR>null</ECR>
		<Timestamp>null</Timestamp>
		<ECN>null</ECN>
		<MTU>null</MTU>
	</Task>
	<Task>
		<BackgroundFilename>10M.mp4</BackgroundFilename>
		<Filename>interview.pdf</Filename>
		<FTPFilename>2M.jpg</FTPFilename>
		<BackgroundPORT>7777</BackgroundPORT>
		<PORT>7777</PORT>
		<WaitTime>3</WaitTime>
		<MessageSize>large</MessageSize>
		<ServerIP>128.125.121.204</ServerIP>
		<rmem_min>null</rmem_min>
		<rmem_default>null</rmem_default>
		<rmem_max>null</rmem_max>
		<ECR>null</ECR>
		<Timestamp>null</Timestamp>
		<ECN>null</ECN>
		<MTU>null</MTU>
	</Task>
</Tasks>